*.mat
*.pptx
*.dat
*.txt
*.fig
*.asv
Lightning_Detection_Location/
*.pdf
*.jpg
*.doc
*.docx
*.xlsx
*.xls
*.csv
*.png
*.mp4
*.mp3
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
.idea/
.idea/
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dictionaries
.idea/vcs.xml
.idea/misc.xml
.idea/modules.xml
.idea/libraries
.idea/shelf
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/contentModel.xml
.vscode/
*.caj
*.tdms
venv/